# DSCI 100 Group 05 Project - Heart Disease

## Introduction

### Heart disease describes a range of conditions that affect the heart.

In [1]:
## Load libraries:
library(tidyverse)
library(readr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

# Set seed
set.seed(1)

## Load Heart Disease Data (name the object heart_disease)
cleveland_data <- read_delim("data/cleve.mod", delim = "\t", skip = 19, col_names = FALSE)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.5     ✔ rsample      1.2.0
✔ dials        1.2.0     ✔ tune         1.1.2
✔ infer        1.0.5     ✔ workflows    1.1.3
✔ modeldata    1.2.0     ✔ workflowsets 1.0.1
✔ parsnip      1.1.1     ✔ yardstick    1.2.0
✔ recipes      1.0.8

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Search for functions across packages at https://www.tidymodels.org/find/

Rows: 303 Columns: 1
── Column specification ────────────────────────────────────────────────────────
Delimiter: "\t"
chr (1): X1

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [6]:
## Clean and wrangle data 

cleveland_clean <- cleveland_data |> 
    separate(X1, into = c("age", "sex", "cp", "trestbps", "chol","fbs", 
                   "restecg", "thalach", "exang", "oldpeak", "slope", 
                   "ca", "thal", "num"), sep = "\\s+")

## Set columns to correct type
cleveland_clean <- mutate_at(cleveland_clean, 
                             c("age", "trestbps", "chol", "thalach", "oldpeak", "ca", "num"),
                            as.numeric) |>
    mutate(cp = as_factor(exang)) |>
    select(exang, age, trestbps, chol, thalach)

cleveland_clean

## Scaling the data
cleveland_scaled <- cleveland_clean |>
    mutate(scaled_age = scale(age, center = TRUE),
          scaled_trestbps = scale(trestbps, center = TRUE),
          scaled_chol = scale(chol, center = TRUE),
          scaled_thalach = scale(thalach, center = TRUE))

## Splitting the data into training and testing

cleveland_split <- initial_split(cleveland_clean, prop = 0.75, strata = exang)
cleveland_train <- training(cleveland_split)
cleveland_test <- testing(cleveland_split)

Warning message:
“Expected 14 pieces. Additional pieces discarded in 303 rows [1, 2, 3, 4, 5, 6,
7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, ...].”
Warning message:
“There were 2 warnings in `mutate()`.
The first warning was:
ℹ In argument: `ca = .Primitive("as.double")(ca)`.
Caused by warning:
! NAs introduced by coercion
ℹ Run `dplyr::last_dplyr_warnings()` to see the 1 remaining warning.”

    exang age trestbps chol thalach
1   fal   63  145      233  150
2   true  67  160      286  108
3   true  67  120      229  129
⋮   ⋮     ⋮   ⋮        ⋮    ⋮
301 fal   49  118      149  126
302 true  74  120      269  121
303 fal   54  160      201  163

In [7]:
## Group and Summarize Data to see number of occurences of different chest pain types

num_cp <- cleveland_train |>
    group_by(exang) |>
    summarize(count = n(),
             avg_restbps = mean(trestbps),
             avg_age = mean(age),
             avg_chol = mean(chol),
             avg_thalach = mean(thalach))

num_cp

  exang count avg_restbps avg_age  avg_chol avg_thalach
1 fal   153   131.0327    53.33987 246.0784 156.9739
2 true   74   132.5946    55.40541 247.0946 137.6622

In [ ]:
## Create plots to visualize data